%li.nav-item
  = link_to 'About' , about_index_path, class: "#{current_page?(about_index_path) ? "active" : ""} nav-link"
- if current_user.present? && current_user.auditor?
  %li.nav-item
    = link_to 'Audit' , audit_index_path, class: "#{current_page?(audit_index_path) ? "active" : ""} nav-link"
- elsif current_user.present? && current_user.inventory?
  %li.nav-item.dropdown
    = link_to 'Inventory' , inventory_index_path, class: "nav-link"
- elsif current_user.present? && current_user.human_resources?
  %li.nav-item.dropdown
    = link_to 'HR' , hr_index_path, class: "nav-link"
