%nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
  = link_to "Home", root_path, class: "navbar-brand"
  %button.navbar-toggler.p-0.border-0{"aria-controls" => "navbarMobile", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarMobile", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarMobile.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto.d-flex.align-items-center
      = render 'shared/header_links'
    %ul.navbar-nav.ml-auto.d-flex.align-items-center
      - if user_signed_in?
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown.d-flex.align-items-center{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
            = current_user.name.split(" ")[0] if current_user.name.present?
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
            = link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
      - else
        %li.nav-item
          = link_to "Login", new_user_session_path, class: 'nav-link'
